@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dock-container {
  transition: background-color 0.3s;
}

.dock-container:not(:hover) {
  background-color: transparent;
  display: inline-flex;
  margin: none;
  width: auto;
}

.dock-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  width: auto;
}

.react-calendar {
  background-color: #333 !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.react-calendar__navigation {
  background-color: #444;
  border-bottom: 1px solid #555;
  border-radius: 15px 15px 0 0;
}

.react-calendar__navigation button {
  color: white !important;
  background: none !important;
  font-weight: bold;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #555;
}

.react-calendar__month-view__weekdays {
  background-color: #444;
  color: #ccc;
  font-weight: bold;
}

.react-calendar__tile {
  background: none;
  color: white;
  border-radius: 10px;
}

.react-calendar__tile--now {
  background-color: #555 !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background-color: #0066cc !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile--now:hover,
.react-calendar__tile--now:focus {
  background-color: #666 !important;
}

.react-calendar__tile--active:hover,
.react-calendar__tile--active:focus {
  background-color: #007fff !important;
}

.react-calendar__tile--hover {
  background-color: #555 !important;
}

.calendar-container p {
  font-size: 1.1rem;
  color: white;
  margin-top: 10px;
}

body.dark {
  background-color: #111;
  color: #fff;
}

body.light {
  background-color: #fff;
  color: #000;
}

.navbar.dark {
  background-color: #333;
}

.navbar.light {
  background-color: #fff;
}

.main-content.dark {
  background-color: #222;
}

.main-content.light {
  background-color: #f9f9f9;
}
